body {
    background-color: #50C2E5;
    margin: 0;
}

#topBar{
    display: flex;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #DC3535;
    border: solid 0.2rem #DC3535;
}

.affiliation{
    color: #DC3535;
    text-decoration: none;
    font-weight: 700;
    margin: 0.1rem;
    margin-left: 1rem;
}

.affiliation:hover{
    text-decoration: underline;
}

.hierarchy {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.show {
    opacity: 1;
}

.person {
    background-color: #ffffff;
    width: 30%;
    padding: 1%;
    margin: 1%;
    border-radius: 1rem;
}

h2 {
    margin: 0.4rem;
}

h5 {
    margin: 0.4rem;
}

.Box {
    border: solid 0.25rem #DC3535;
    border-radius: 1rem;
    margin: 2%;
    margin-top: 1rem;
    padding: 2%;
    overflow-wrap: break-word;
}

.add {
    background-color: #F49D1A;
    border: none;
    border-radius: 0.4rem;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 3%;
}

.add:active {
    background-color: #DC3535;
}

.showList {
    background-color: #50C2E5;
    border: none;
    border-radius: 0.4rem;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    margin: 3%;
    margin-left: 1%;
}
/* the arrow button */

.showList:active {
    background-color: #DC3535;
}
/* When it is clicked the childs in the next hierarchy show. */